<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      data-namespace-typo3-fluid="true">

<!-- footer begin -->
<div align="center" style="background-color: #e9e9e9;">
    <table width="911" height="86" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td><div class="count">
                <!-- Metrika -->
                <!-- ToDo: set metrika -->
            </div>
            </td>
            <td valign="center" align="left" width="750">
                <p class="bodytext small light"><f:cObject typoscriptObjectPath="lib.copyright" /></p>
            </td>
            <td valign="center" align="left">
                <table cellpadding="0" cellspacing="6" border="0">
                    <f:cObject typoscriptObjectPath="lib.developer" />
                </table></td>
        </tr>
    </table>
</div>
<!-- footer end -->

</html>
