span.spacious1 a.small {
    text-transform: lowercase;
}

p.bodytext, p.align-left, p.align-center, p.align-right,
.ce-bodytext p,
.content p {
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: justify;
    color: #000000;
    line-height: 16px;

}