dl.csc-textpic-image {
	padding-bottom: 5px;	
}

div.csc-textpic-image {
	text-align: left;
}

a.internal-link {
	font-size: 12px;
	color: #00548A;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

a.internal-link:hover {
	text-decoration: none;	
}

A.ns {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #4C758D;
	line-height: 10px;
	text-decoration: none;
	white-space: nowrap;
	color: #656565
}

img {
	border: none;
}

body {
	background-color : White;
	margin: 0;
}

div.pad0 {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

h1 {
	background-image: url('../img/h1_marker.gif');
	background-repeat: no-repeat;
	padding: 10px 0px 8px 15px;
	margin: 0px 0px 0px 0px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

h2 {
	padding: 10px 0px 7px 0px;
	margin: 0px 0px 0px 0px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

h3 {
	background-image: url('../img/h2_marker.gif');
	background-repeat: no-repeat;
	padding: 10px 0px 5px 15px;
	margin: 0px 0px 0px 0px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

p.bodytext, p.align-left, p.align-center, p.align-right {
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 0px 0px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
	color: #000000;
	line-height: 16px;
}

p.align-left {
	text-align: left;
}

p.align-center {
	text-align: center;
}

p.align-right {
	text-align: right;
}

p.small {
	font-size: 10px;
}

p.big {
	font-size: 12px;
	font-weight: bold;
}

p.light {
	color: #656565;
}

span.light {
	font-size: 10px;
	color: #656565;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

span.spacious1 {
	padding-left: 3px;
	padding-right: 3px;
}

span.spacious2 {
	padding-left: 10px;
	padding-right: 10px;	
}

td.menu-item {
	background-image: url('../img/menu_marker.gif');
	background-repeat: no-repeat;
	background-position: 33px 6px;
	padding-left: 56px;
	line-height: 17px;
}

td.menu-item2 {
	background-image: url('../img/menu_marker1.gif');
	background-repeat: no-repeat;
	background-position: 57px 7px;
	padding-left: 80px;
	line-height: 16px;
}

a.blink {
	font-size: 12px;
	color: #00548A;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

a.blink:hover {
	text-decoration: none;
}

td.menu-item2 a.blink {
	font-size: 11px;
}
a.small {
	font-size: 11px;
}

a.white {
	color: White;
}

UL.menu_small {
	margin: 12px 0px 25px 0px;
	padding: 0px 0px 0px 20px;
	list-style-image: url('../img/menu_marker2.gif');
	line-height: 20px;
}

UL {
	color: Black;
	font-size: 12px;
	font-weight: normal;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;	
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
	list-style-image: url('../img/menu_marker2.gif');
	line-height: 18px;
}

OL {
	color: Black;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;		
	font-size: 12px;
	font-weight: normal;
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 0px 22px;
	line-height: 18px;
}

LI {
	text-align: left;
	margin: 0px 0px 0px 15px;
	padding: 0px 0px 0px 0px;
}

table.contenttable {
	border-collapse: collapse;
	}
	
table.contenttable-0 {
	background-color: #f2f2f2;
	}

th.td-0, th.td-1, th.td-2, th.td-3, th.td-4 {
	background-color: #595959;
	color: #FFFFFF;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;		
	font-size: 11px;
	padding: 5px 10px 5px 10px;
	}
	
td.td-0, td.td-1, td.td-2, td.td-3, td.td-4 {
	color: Black;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;		
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	}
	
td.td-1, td.td-2, td.td-3, td.td-4 {
	border-left: #999999 solid 1px;
}

tr.tr-even {
	background-color: #dfdfdf;
}
	
/* Content MailForms */
.csc-mailform {
     border: none;
     padding: 0px 0px 0px 0px;
     margin: 0px 0px 0px 0px;
     line-height: 1x;
     font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
     font-size: 12px;
     color: #000000;
}

.csc-mailform-field LABEL {
	 display:block;
     margin-top:5px;
}
.count{
	padding-right: 10px;
}