/*
canvas {
    position: absolute !important;
    top: 0 !important;
    height: 100px !important;
    border: 1px solid red;
    z-index: 1;
}
*/
.container {
    max-width: 1200px;
}
header.header {
    min-height: 100px;
}
header .logo {
    padding-top: 10px;
}
.padding-top-10 {
    padding-top: 10px;
}
.feedback-button {
    text-align: right;
}