/*
canvas {
    position: absolute !important;
    top: 0 !important;
    height: 100px !important;
    border: 1px solid red;
    z-index: 1;
}
*/

/* Override bootstrap */
.btn-info:hover {
    color: #fff;
    background-color: #177E89;
    border-color: #177E89;
}
body {
    color: rgb(51, 51, 51);
    font-size: 0.95rem;
}
.container {
    max-width: 1200px;
}
header.header {
    min-height: 100px;
}
header .logo {
    padding-top: 30px;
}
.padding-top-10 {
    padding-top: 30px;
}
.feedback-button {
    text-align: right;
}

/* Carousel */
.slider {
    margin-bottom: 20px;
}
.owl-carousel .owl-stage-outer {
    min-height: 200px;
    max-height: 500px;
    border: 1px solid #e2e3e5;
}
.owl-nav {
    display: none;
}
.slider__teaser a {
    display: inline-block;
    /*border: 1px solid #e2e3e5;*/
    border-bottom: 1px solid #177E89;
    color: #177E89;
    /*max-width: 200px;
    min-width: 100px;*/
    width: auto;
    padding: 5px 10px;
    height: 65px;
    margin-right: 10px;
    text-align: center;
}
.slider__teaser a:hover {
    text-decoration: none;
}
.slide__description {
    position: absolute;
    top: 20%;
    left: 30px;
}

/* Content */
.header-h1 h2 {
    position: relative;
    padding-bottom: .5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #00838f;
}
.header-h1 h2::before {
    content: "";
    position: absolute;
    border-bottom: 2px solid #00838f;
    bottom: .25rem;
    left: 50%;
    width: 30%;
    transform: translateX(-50%);
}
.header-h1 h2::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #00838f;
    bottom: 0;
    left: 50%;
    width: 15%;
    transform: translateX(-50%);
}
.header-h1-left h2 {
    text-align: left;
}
.header-h1-left h2::before,
.header-h1-left h2::after {
    left: 0;
    transform: translateX(0);
}
.header-h1-right h2 {
    text-align: right;
}
.header-h1-right h2::before,
.header-h1-right h2::after {
    left: unset;
    right: 0;
    transform: translateX(0);
}
#certification img {
    overflow: hidden;
    width: 80%;
    height: auto;
}
.section {
    padding: 20px 0;
}

h3 {
    font-size: 1.4rem;
}


/* Parallax */
.parallax-window {
    padding-top: 30px;
    min-height: 400px;
    background: transparent;
    color: #fff;
}
.parallax-window h2 {
    color: #fff;
}

/* Pace */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    background: #694442;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}


footer.footer {
    min-height: 300px;
    background: #694442;
}