html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background:red;
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(#f06d06));
}