/*
canvas {
    position: absolute !important;
    top: 0 !important;
    height: 100px !important;
    border: 1px solid red;
    z-index: 1;
}
*/

/* Override bootstrap */
.btn-info:hover {
    color: #fff;
    background-color: #177E89;
    border-color: #177E89;
}
body {
    color: rgb(51, 51, 51);
    font-size: 0.95rem;
}
.container {
    max-width: 1400px;
}
header.header {
    min-height: 100px;
}
header .logo {
    padding-top: 30px;
}
.padding-top-10 {
    padding-top: 30px;
}
.feedback-button {
    text-align: right;
}

/* Carousel */
.slider {
    margin-bottom: 20px;
}
.owl-carousel .owl-stage-outer {
    min-height: 200px;
    max-height: 500px;
    border: 1px solid #e2e3e5;
}
.owl-nav {
    display: none;
}
.slider__teaser a {
    display: inline-block;
    /*border: 1px solid #e2e3e5;*/
    border-bottom: 1px solid #177E89;
    color: #177E89;
    /*max-width: 200px;
    min-width: 100px;*/
    width: auto;
    min-width: 170px;
    padding: 5px 10px;
    height: 65px;
    margin-right: 10px;
    text-align: center;
}
.slider__teaser a:hover {
    text-decoration: none;
}
.slide__description {
    position: absolute;
    top: 20%;
    left: 30px;
}


/* Content */
.header-h1 h1 a,
.header-h1 h2 a {
    color: #00838f;
    text-decoration: none;
}
.header-h1 h1 a:hover,
.header-h1 h2 a:hover {
    color: #694442;
}
.header-h1 h1 {
    font-size: 36px;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.header-h1 h2 {
     font-size: 1.7rem;
    /*font-size: 30px;*/
    margin-bottom: 1.0rem;
}
.header-h1 h2,
.header-h1 h1{
    position: relative;
    padding-bottom: .5rem;
    /*text-transform: uppercase;*/
    text-align: center;
    color: #00838f;
}
.header-h1 h2::before,
.header-h1 h1::before{
    content: "";
    position: absolute;
    border-bottom: 2px solid #00838f;
    bottom: .25rem;
    left: 50%;
    width: 30%;
    transform: translateX(-50%);
}
.header-h1 h1::after,
.header-h1 h2::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #00838f;
    bottom: 0;
    left: 50%;
    width: 15%;
    transform: translateX(-50%);
}
.header-h1-left h1,
.header-h1-left h2 {
    text-align: left;
}
.header-h1-left h1::before,
.header-h1-left h1::after,
.header-h1-left h2::before,
.header-h1-left h2::after {
    left: 0;
    transform: translateX(0);
}
.header-h1-right h1,
.header-h1-right h2 {
    text-align: right;
}
.header-h1-right h1::before,
.header-h1-right h1::after,
.header-h1-right h2::before,
.header-h1-right h2::after {
    left: unset;
    right: 0;
    transform: translateX(0);
}

.inner-page .header-h1 h2 {
    padding-bottom: 30px;
}
.inner-page {
    min-height: 300px;
    padding-bottom: 100px;
}

/* Search */
.search-form {
    width: 50%;
}
.search-box {
    padding-left: 0;
}
.tx-indexedsearch-title a {
}
.tx-indexedsearch-res {
    padding-bottom: 15px;
}

#certification img {
    overflow: hidden;
    width: 80%;
    height: auto;
}
.section {
    padding: 20px 0;
}
h3 {
    font-size: 1.4rem;
}
.teaser-card {
    margin-top: 20px;
}
.teaser-card img {
    padding-top: 20px;
}
.breadcrumb {
    background: #fff;
}
.breadcrumb a {
    color: #00838f;
}
.breadcrumb-item.active {
    /*color: #6c757d;*/
    color: #000;
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #694442;
    content: "/";

}


/* Powermail */
/*
.layout1 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;

}
.layout2 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;

}
*/

.powermail__container {
    background: #fff;
    padding: 20px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.powermail__container textarea {
    min-height: 120px;
}
.powermail__form_submit {
    position: absolute;
    right: 0;
    bottom: 0;
}
.powermail__container label {
    margin-top: 10px;
    display: none;
}
.powermail__container input[type="text"] {
/*    margin: 10px 0;*/
    margin-bottom: 20px;
}
.powermail__container form {
    padding-top: 20px;
}

.powermail_fieldwrap_type_captcha label {
    display: block;
}
.powermail_captcha {
    margin: 10px 0 0 -30px;
}

/* Footer */
.footer__address {
    padding: 20px;
    color: #fff;
}
.font-big p {
    font-size: 18px;
}

.white h2 {
    color: #fff;
}
.white h2::before {
    border-bottom: 2px solid #fff;
}
.white h2::after {
    border-bottom: 2px solid #fff;
}
.copyright {
    padding: 20px;
    color: #fff;
    text-align: center;
}

 /* Parallax */
.parallax-window {
    padding-top: 30px;
    min-height: 400px;
    background: transparent;
    color: #fff;
}
.parallax-window h2 {
    color: #fff;
}
.parallax-window .header-h1 h2::before {
    border-bottom: 2px solid #fff;
}
.parallax-window .header-h1 h2::after {
    border-bottom: 2px solid #fff;
}


/* Pace */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    background: #694442;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.card-img {
    height: auto;
}

#un-footer {
    background: #e8f2f3;
}

footer.footer {
    min-height: 300px;
    background: #694442;
}
#toTop {
    background: url(../Images/to-top.png) 50% 50% no-repeat;
    width: 69px;
    height: 69px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #333;
    z-index: 99999;
}

#top {
    display: none;
}


/* Table */
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #694442;
    padding: .35em;
}
table tr:nth-child(odd){
    background: #fff;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

/* buttonDownload */
.buttonDownload {
    display: inline-block;
    position: relative;
    padding: 10px 25px;

    background-color: #00838f;
    color: white;

    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
}

.buttonDownload:hover {
    /*background-color: #333;*/
    background-color: #694442;
    color: white;
}

.buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;

    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;

    animation: downloadArrow 2s linear infinite;
    animation-play-state: paused;
}

.buttonDownload:hover:before {
    border-color: #fff;
}

.buttonDownload:hover:after {
    border-top-color: #fff;
    animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
    /* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
    0% {
        margin-top: -7px;
        opacity: 1;
    }

    0.001% {
        margin-top: -15px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        margin-top: 0;
        opacity: 0;
    }
}

span.ce-uploads-fileName {
    font-size: 17px;
    display: block;
    padding-bottom: 5px;
}