
.header-h1 h3 {
    /*color: #694442;*/
    color: #333;
}
.header-h1 h3::after {
    border-bottom: 2px solid #333;
}
.header-h1 h3::before {
    border-bottom: 2px solid #333;
}

/* Search */
.search-form {
    width: 50%;
}
.search-box {
    padding-left: 0;
}
.tx-indexedsearch-res {
    padding-bottom: 15px;
}
.section {
    padding: 20px 0;
}
h3 {
    font-size: 1.4rem;
}

.white h2 {
    color: #fff;
}
.white h2::before {
    border-bottom: 2px solid #fff;
}
.white h2::after {
    border-bottom: 2px solid #fff;
}

