<f:render partial="Header" arguments="{_all}" />
<f:render partial="Navigation" arguments="{_all}" />

<section id="content" class="section">
    <f:if condition="{data.hide_container_class} == 1">
        <f:then>
            <div class="container">
                <f:render partial="Content" arguments="{_all}" />
            </div>
            <f:render section="content" />
        </f:then>
        <f:else>
            <div class="container inner-page">
                <f:render partial="Content" arguments="{_all}" />
                <f:render section="content" />
            </div>
        </f:else>
    </f:if>
</section>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__address">
            <f:cObject typoscriptObjectPath="lib.footerConsultation" />
        </div>
        <f:cObject typoscriptObjectPath="lib.footerForm" />
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <f:cObject typoscriptObjectPath="lib.copyright" />
                </div>
            </div>
        </div>
    </div>
</footer>